.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    display: inline-block;
    vertical-align: middle;
}

.active {
    background-color: #bbb;
    color: white;
}

.pagination button:hover:not(.active) {background-color: #c7f2ff;}
